* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cv {
  text-decoration: none;
  color: white;
}
button {
  transition: padding 2s, font-size 2s;
}

.image {
  width: 100%;
  height: 100%;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  padding: 12px;
  font-size: 18px;
}

button:active {
  background: #008552;
}

.normal_button {
  padding: 8px;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 24px;
}

.headline {
  background:
    url("images/background_images/back.png") 0 0 no-repeat,
    url("images/background_images/block1.png") 100% 0 no-repeat,
    url("images/background_images/block2.png") 100% 42% no-repeat,
    url("images/background_images/block3.png") 0 82% no-repeat,
    url("images/background_images/cylinder.png") 38% 76% no-repeat,
    url("images/background_images/block4.png") 3% 21.5% no-repeat;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.headline h1,
p {
  font-style: normal;
  text-align: center;
}

.headline h1 {
  font-weight: 000;
  font-size: 40px;
  line-height: 130%;
}

.headline p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 15px 27px 20px 27px;
  color: #172b4d;
  visibility: hidden;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin: 15px 27px 20px 27px;
    height: auto;
    visibility: visible;
  }
}

.desktop-view-heading {
  display: none;
}

.mob-view-heading {
  display: block;
}

.greeting {
  margin-top: 62.3px;
  margin-bottom: 0;
  color: #172b4d;
}

@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
}

.intro {
  margin-top: 0;
  margin-bottom: 0;
  color: #36b37e;
  visibility: hidden;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social_media_icons {
  display: flex;
  justify-content: center;
  animation: slide-up;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.icons {
  margin: 0 10px 0 10px;
}

.project-icons {
  position: relative;

  /* Adjust these values accordingly */
  top: 5px;
  left: 8px;
}

.social_media_list {
  list-style: none;
}

.social_media_list li {
  display: inline;
}

.social_media_list li img:hover {
  transform: scale(1.2);
}

.down {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.separate {
  display: none;
}

.greeting-desktop {
  display: none;
}

.works_section {
  display: grid;
  grid-template-rows: 200px 474px;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 34px;
  background: url("images/background_images/ctylinder2.png") 100% 0% no-repeat;
}

.works-heading h2,
.about_section h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.bar {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.work-item {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
 
  display: flex;
  flex-direction: column;
 
}

.details {
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
}

.tech-stack {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.tech-stack-detail {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.details h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 16px;
  color: #3a4a42;
}

.tech-stack li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.tech-stack-detail li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.project {
  background: #fff;
  margin: 16px 11px 16px 11px;
  justify-items: center;
  display: flex;
  justify-content: center;
}

.project button,
.btn {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  letter-spacing: 0.03em;
}

.btn {
  text-decoration: none;
  margin: 10px 20px;
  font-size: 15px;
  padding: 8px 14px;
}

.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.about_section p {
  width: 351px;
  height: 194px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px 10px 24px 10px;
}

.about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    url("images/background_images/plane.png") 0% 20.5% no-repeat,
    url("images/background_images/plane2.png") 100% -2% no-repeat;
}

.languages,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 316px;
  width: 327px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  padding-bottom: 20px;
}

.languages h2,
.frameworks h2,
.skills h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.icon-language {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.icon-frameworks,
.icon-skills {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.about-tech {
  list-style: none;
  display: grid;
  grid-template-rows: 316px 316px 316px;
  width: 327px;
  gap: 44px;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-details button {
  padding: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  letter-spacing: 0.03em;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 24px 0 72px 0.5px;
  align-items: center;
}

.tech li {
  background-color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 4px;
  color: #36b37e;
  border-radius: 8px;
  padding: 12px;
  letter-spacing: 0.03em;
}

.contact_section {
  background: url("images/background_images/bg.png") 100% 100% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mob-nav {
  margin: 20px;
}

.contact_section h2 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 60px 24px 0 24px;
}

input,
textarea {
  outline: none;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  margin: 12px 10px 12px 10px;
  width: 275px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #42526e;
}

input:placeholder-shown {
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_section button {
  padding: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

footer .social_media_icons {
  margin: 25px;
}

.email {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 30px;
  margin-bottom: 30px;
}

.desktop-menu {
  display: none;
}

.bottom-separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu {
  display: none;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.mob-menu ul {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin: 28px;
}

.mob-menu ul li {
  margin: 30px 0 30px 0;
}

.mob-menu ul li a {
  text-decoration: none;
  color: #3a4a42;
}

#cancel {
  display: none;
}

.img-project {
  width: 100%;
}

.main-modal {
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 100%;
  width: 100%;
  background-color: #c1c7d0;
  position: fixed;
  overflow-y: auto;
  z-index: 10000;
}

.modal {
  margin: 10px;
  padding: 18px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  height: 740px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 50;
}

.description {
  text-align: left;
  margin: 20px 0;
}

.title-project {
  margin: 15px 0;
}

.cancel-icon {
  position: absolute;
  right: 35px;
  top: 35px;
  margin: 5px;
}

.cancel-icon-desktop {
  display: none;
}

#error-div {
  color: red;
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .title-project {
    margin: 15px 240px 15px 0;
    font-size: 22px;
  }

  .description {
    margin: 0 0 0 0;
  }

  .modal {
    margin: 20px 120px 20px 120px;
    box-sizing: border-box;
    position: relative;
    height: 780px;
  }

  .btn {
    margin: 10px 6px;
    font-size: 15px;
    padding: 8px 14px;
  }

  .btndiv {
    display: flex;
    position: absolute;
    left: 255px;
    top: 420px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
  }

  .mob-nav {
    display: none;
  }

  .desktop-menu li {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin: 4px;
    padding: 8px;
    letter-spacing: 0.03em;
  }

  .desktop-menu li a {
    text-decoration: none;
    color: #172b4d;
  }

  .headline {
    background: none;
    width: 60%;
    box-sizing: border-box;
  }

  .headline h1 {
    font-size: 30px;
  }

  .headline p {
    font-size: 14px;
    line-height: 20px;
  }

  .normal_button {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .header {
    background:

      url("images/background_images/Group\ 36.png") 100% 30% no-repeat,
      url("images/background_images/Frame2.png") 5% 30% no-repeat,
      url("images/background_images/Frame3.png") 75% 0% no-repeat,
      url("images/background_images/Frame4.png") 40% 80% no-repeat,
      url("images/background_images/Frame5.png") 80% 100% no-repeat,
      url("images/background_images/Frame6.png") 15% 95% no-repeat,
      url("images/background_images/Group\ 35.png") 0 0 no-repeat;
    background-size: 180px, 160px, 150px, 75px, 150px, 100px, cover;
    width: 100%;
  }

  .bar {
    display: none;
  }

  .greeting {
    display: none;
  }

  .image-div {
    position: relative;
  }

  .greeting-desktop {
    display: block;
    margin-top: 62.3px;
    margin-bottom: 0;
    color: #172b4d;
    animation-name: slide-in;
    animation-duration: 1s;
  }

  .desktop-view-heading {
    display: block;
  }

  .mob-view-heading {
    display: none;
  }

  .about_section {
    background:
      url("images/background_images/illustration-about-me-2-desktop.png") 0% 10% no-repeat,
      url("images/background_images/illustration-about\ me-1-desktop.png") 100% 0% no-repeat;
    background-size: 150px, 150px;
  }

  .about_section p {
    width: 60%;
    font-size: 17px;
    height: auto;
    line-height: 25px;
  }

  .contact_section {
    background:
      url("images/background_images/illustration-1-contact-form-desktop.png") 0% 95% no-repeat,
      url("images/background_images/Frame-contact.png") 100% 95% no-repeat,
      url("images/background_images/illustration-2-contact-form-desktop.png") 20% 90% no-repeat;
    background-size: 140px, 160px, 100px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .email {
    display: none;
  }

  .contact_section h2 {
    font-size: 22px;
    text-align: inherit;
    line-height: 32px;
    width: 90%;
    font-style: normal;
    font-weight: 700;
    margin: 120px 5px 0 80px;
  }

  form {
    width: 100%;
    margin: 80px 80px 190px 0;
  }

  input,
  textarea {
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    padding: 8px;
    margin: 6px;
    width: 90%;
  }

  .contact_section button {
    padding: 10px;
    font-size: 14px;
    margin: 0;
  }

  .works_section {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 66px 66px 55px;
    box-sizing: border-box;
  }

  .bottom-separator {
    display: none;
  }

  .details h2 {
    margin: 10px;
    line-height: 25px;
    font-size: 18px;
  }

  

  .works-heading {
    grid-column: 1/4;
  }

  .tech-stack li {
    font-weight: 600;
    font-size: 8px;
    padding: 1px 5px;
    color: #3a4a42;
  }

  .tech-stack {
    justify-content: space-around;
    margin: 0 5px;
    box-sizing: border-box;
  }

  .tech-stack-detail li {
    font-weight: 600;
    font-size: 10px;
    padding: 5px 5px;
    margin: 0 10px 0 0;
    color: #344563;
  }

  .tech-stack-detail {
    justify-content: start;
    margin: 0 5px 30px 0;
    box-sizing: border-box;
  }

  .project button {
    padding: 8px;
    font-size: 12px;
    color: #fff;
    border: none;
  }

  .about-tech {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    width: 100%;
    padding: 0 66px;
    box-sizing: border-box;
    gap: 24px;
    justify-content: center;
    align-items: start;
    margin-top: 45px;
  }

  .languages,
  .frameworks,
  .skills {
    width: 100%;
    height: 190px;
    padding-top: 20px;
    justify-content: start;
    padding-bottom: 0;
  }

  .languages h2,
  .frameworks h2,
  .skills h2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  .icon-language {
    margin-top: 0;
  }

  .icon-frameworks,
  .icon-skills {
    margin-top: 0;
  }

  .tech {
    margin: 4px 0 4px 0.5px;
    align-items: center;
  }

  .tech li {
    font-size: 8px;
    line-height: 10px;
    margin: 2px;
    border-radius: 2px;
    padding: 6px;
    letter-spacing: 0.03em;
  }

  .about-details button {
    padding: 10px;
    font-size: 16px;
  }

  footer .social_media_icons {
    margin: 20px;
  }

  .separate {
    display: block;
  }

  .cancel-icon {
    display: none;
  }

  .cancel-icon-desktop {
    display: block;
    float: right;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .works_section {
    gap: 35px;
  }

  .btndiv {
    display: flex;
    position: absolute;
    left: 500px;
    top: 595px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .modal {
    margin: 20px 120px 20px 120px;
    box-sizing: border-box;
    position: relative;
    height: 860px;
  }
}

@media only screen and (min-width: 1240px) {
  .works_section {
    gap: 45px;
  }

  .modal {
    margin: 20px 250px 20px 250px;
    box-sizing: border-box;
    position: relative;
    height: 900px;
  }

  .btndiv {
    display: flex;
    position: absolute;
    left: 550px;
    top: 625px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
  }

  .tech-stack li {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    letter-spacing: 0.03em;
  }

  .details h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .languages,
  .frameworks,
  .skills {
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 400px;
  }

  .about-tech {
    height: 350px;
  }

  .tech {
    margin: 4px 0 4px 0.5px;
    align-items: center;
  }

  .tech li {
    font-size: 16px;
    margin: 6px;
    padding: 9px;
  }

  .icon-language {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1340px) {
  .works_section {
    gap: 45px;
  }

  .modal {
    margin: 20px 200px 20px 200px;
    box-sizing: border-box;
    position: relative;
    height: 950px;
  }

  .btndiv {
    display: flex;
    position: absolute;
    left: 670px;
    top: 715px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
  }



  .details h2 {
    font-size: 23px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .works_section {
    gap: 35px;
  }

  .btndiv {
    display: flex;
    position: absolute;
    left: 750px;
    top: 775px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .modal {
    margin: 20px 200px 20px 200px;
    box-sizing: border-box;
    position: relative;
    height: 1000px;
  }
}
